body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw; 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 120px; /* Space for the fixed header */
    overflow: hidden;
}

body img{
    border-radius: 50%;
}


.header {
    display: flex;
    align-items: center; /* Vertically center items in the header */
    justify-content: flex-start; /* Align items to the left */
    width: 100%;
    padding: 10px 20px;
    position: absolute;
    top: 5%;
    z-index: 1000;
}

#logo {
    flex-shrink: 0; /* Prevent logo from shrinking */
}

#logo img {
    width: 100px;
    height: auto;
}

#text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px; /* Space between logo and text */
    position: absolute;
    top: 50%; /* Center the text container vertically */
    left: 48%; /* Center the text container horizontally */
    transform: translate(-50%, -50%); /* Correct centering */
}

#title {
    font-size: 2rem;
    font-weight: bold;
    margin: 5px 0;
}

#caption {
    font-family: monospace;
    font-size: 1.2rem;
}

/* Role Selection Section */
.role-selection {
    margin-top: 200px; /* Add some space below header */
}

.role-selection p {
    font-size: 1.5rem;
    font-weight: bold;
}

#navigation {
    display: flex;
    justify-content: center;
    gap: 50px; /* Space between the two icons */
}

.role-icon {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer ;
}

.role-icon img {
    width: 100px; /* Size of the circular icon */
    height: 100px; /* Size of the circular icon */
    border-radius: 50%; /* Make the icon circular */
    object-fit: cover;
    margin-bottom: 10px; /* Space between icon and text */
    border: 2.5px solid black;
}

.role-icon p {
    font-size: 1rem;
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    #title {
        font-size: 1.5rem;
    }

    #caption {
        font-size: 1rem;
    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    #text-container {
        margin-left: 0;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .role-selection p {
        font-size: 1.2rem;
    }

    .role-icon img {
        width: 80px;
        height: 80px;
    
    }
}
