{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/SignUpPage.css' %}" >
    <script src="SignupPage.js" defer></script>
</head>
<body>
    <style>
        body {
            background-image: url("{% static 'images/background.jpg' %}");
        }
    </style>
    <div class="header">
        <div id="logo">
            <img src="{% static 'images/logo.jpeg' %}" alt="Logo">
        </div>
    </div>

    <div class="signup-container"> 
        <h2><b>Create Your Account</b></h2>
        <form action="#" method="POST">
            <input type="email" placeholder="Enter your College Mail-ID" name="email" required>
            <input type="password" placeholder="Create Password" name="password" required>
            <input type="password" placeholder="Confirm Password" name="confirmpassword" required>
            
            <div class="role-container">
                <label for="role">Select your role:</label>
                <select id="role" name="role" required>
                    <option value="student">Student</option>
                    <option value="faculty">Faculty</option>
                </select>
            </div>
            
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/login" style="color: darkblue; text-decoration: none;">Sign In</a></p>
    </div>
</body>
</html>
